#header {
   /* border: 1px solid red; */
   display: flex;
   background-color: #21243d;
   justify-content: space-between;
   padding: 1rem;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   /* opacity: 0; */
   animation: opacity 1s ease-in 1s forwards;
   margin: -1px;
   transition: 1s;
}

@media screen and (min-width: 480px) {
   /* style for header */
   #header {
      padding: 1rem 2rem;
   }
}
