
.menu-opt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-opt .img-logo {
	display: flex;
}

.menu-pic {
	width: 100%;
	max-width: 14rem;
}

.menu-pic img {
	width: 100%;
}

.ModalList {
	color: white;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	list-style: none;
	padding: 3.5rem 0;
	row-gap: 3rem;
}