.visible,
#footer {
	opacity: 1;
}

.main-section--title {
	background: #edf7fa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0 0;
   border-radius: 15px;
}

h1 {
	width: 100%;
	padding: 2rem;
}

.main-section--title__sub {
	font-size: 12px;
	font-weight: 300;
	color: #8695a4;
	display: block;
	padding: 0 0 0.5rem;
}

.home-text {
	font-size: 14px;
	color: #21243d;
	font-weight: 700;
}

.main-section--title__main {
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
   text-align: left;
   width: 100%;
	max-width: 20rem;
}

.main-section__main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 1rem;
	border-radius: 5px;
	text-align: center;
	background: url(../images/contact-bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	min-height: 17.4rem;
	margin: 2rem 0;
}

.main-section__main--heading {
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	color: #fff;
}

.main-section__main--paragraph a {
	color: #fff;
	font-weight: 450;
	font-size: 20px;
	line-height: 25px;
}

.contact-form-action {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
	padding: 0 0 1rem;
}

#full-name,
#email-tag {
	width: 100%;
	border: 1px solid #6ed9f9;
	border-radius: 4px;
	padding: 16px 20px;
}

#user-message {
	padding: 16px 20px;
	resize: none;
	border: 1px solid #6ed9f9;
}

.contact-button {
	margin: 0 auto;
	max-width: 9rem;
	width: 100%;
}

.contact-button-link {
	background: var( --main-color);
	background-image: linear-gradient(to bottom, var( --main-color), #b82c64);
	border-radius: 5px;
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 1.2rem;
	text-align: center;
}

.contact-button-link:hover {
	cursor: pointer;
	background-image: linear-gradient(to bottom, #b82c64, var( --main-color));
}

#map-canvas {
	width: 100%;
	height: 500px;
	margin: 0 auto;
}
#map-canvas :nth-child(1) {
	z-index: 10;
}

.location-section {
	padding: 0 0 2rem;
}

.location__title {
	padding: 1rem 0;
	text-align: left;
	width: 18rem;
}

@media screen and (min-width: 1024px) {
	.main-section--content {
		display: flex;
		align-items: center;
	}

	.main-section__main {
		width: 45%;
		height: 100%;
		min-height: 25rem;
		margin: 0;
	}

	.contact-form-action {
		width: 100%;
		padding: 0;
	}

	#user-message {
		height: 8.5rem;
	}

	.contact-button {
		margin: 0;
	}
}

@media screen and (min-width: 1440px) {
	.main-section--content {
		padding: 2rem 0;
	}

	.main-section__main {
		min-height: 30rem;
	}

	#user-message {
		height: 14.5rem;
	}


