@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
/* universal selector style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GENERAL STYLES */
html {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	list-style: none;
}

.hidden {
	display: none;
	pointer-events: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
}

h2 {
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
	text-align: center;
}

.gap3 {
	padding: 0 0 3rem;
	text-align: center;
}

.StopScroll {
	height: 100%;
	overflow: hidden;
}

#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	pointer-events: none;
	display: none;
}

#backdrop.visible {
	display: block;
	pointer-events: all;
}

.Modal {
	position: absolute;
	z-index: 10;
	background: rgb(0 0 0 / 90%);
	width: 100%;
	top: 0;
	right: 0;
	padding: 2rem 1rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
	border-radius: 10px 0 0 10px;
	overflow-x: hidden;
}

.Modal.invisible.visible {
	display: block;
	animation: menu-slide-in 0.8s ease-out forwards;
}

.Modal.invisible {
	display: block;
	animation: menu-slide-out 0.8s ease-out forwards;
}

.ModalList {
	color: white;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	list-style: none;
	padding: 3.5rem 0;
	row-gap: 3rem;
}

@keyframes menu-slide-in {
	from {
		opacity: 0;
		display: block;
		height: auto;
		width: 0;
	}
	to {
		opacity: 100%;
		height: auto;
		width: 100%;
	}
}

@keyframes menu-slide-out {
	from {
		opacity: 100%;
		height: auto;
		width: 100%;
	}
	to {
		opacity: 0;
		height: auto;
		width: 0;
		z-index: -1;
	}
}

@keyframes start-page {
	from {
		opacity: 0.7;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.start-page {
	animation: start-page 1s ease forwards;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.opacity {
	animation: opacity 1s ease 1s forwards;
}

@keyframes project-animate {
	from {
		opacity: 0.5;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.project-animate {
	animation: project-animate 2s ease forwards;
}

@keyframes left-in {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes right-in {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.left-in {
	animation: left-in 1s ease forwards;
}

.right-in {
	animation: right-in 1s ease forwards;
}

.menu-opt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-opt .img-logo {
	display: flex;
}

.menu-pic {
	width: 100%;
	max-width: 14rem;
}

.menu-pic img {
	width: 100%;
}

.scale {
	animation: scale 1s ease 0s forwards !important ;
}

@keyframes scale {
	from {
		transform: scale(100%);
		opacity: 1;
	}
	to {
		transform: scale(110%);
		opacity: 1;
	}
}

/* STYLES FOR HOME PAGE BODY */
#body-content--home {
	color: #21243d;
	font-family: 'Montserrat Alternates', sans-serif;
	margin: auto;
	max-width: 1440px;
	scroll-behavior: smooth;
	width: 100%;
}

/* STYLES FOR HEADER */
#header {
	/* border: 1px solid red; */
	display: flex;
	background-color: #21243d;
	justify-content: space-between;
	padding: 1rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
	opacity: 0;
	animation: opacity 1s ease-in 1s forwards;
}

/* style for logo image */
.image-logo {
	overflow: hidden;
	width: 100%;
}

#header .image-logo__image {
	max-width: 180px;
	width: 100%;
}

.image-logo__image {
	max-width: 300px;
	width: 100%;
}

/* styles for nav bar */
#nav-bar {
	align-items: center;
	/* border: 1px solid blue; */
	display: flex;
	justify-content: end;
	max-width: 20rem;
	width: 100%;
}

.nav-bar__list {
	column-gap: 1.2rem;
	display: none;
}

.active {
	color: #ea1d5d !important;
}

.nav-bar__link {
	color: #fff;
	line-height: 1.5rem;
	padding: 10px;
}

.nav-bar__list--after {
	display: none;
}

/* styles fot nva menu btn */
.menu-btn {
	display: flex;
	width: 5.5vw;
}

.menu-btn img {
	position: relative;
	z-index: 20;
	width: 100%;
}

/*  STYLES FOR MAIN SECTION */
#main {
	/* border: 1px solid green; */
	padding: 0 1rem 2rem;
	animation: start-page 1s ease forwards;
}

/* GENERAL STYLES FOR ALL SECTIONS */

/* styles for hero section */
.hero-section {
	background: url(../images/desktop/bg-image-desktop.svg);
	background-size: 50rem;
	background-position: 70% 0;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column-reverse;
}

/* styles for hero image */
.hero-image {
	margin: 0 auto;
}

.hero-image__image {
	max-width: 20rem;
	width: 100%;
}

/* styles for heros section content */
.hero-section__title-text {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* styles for main heading h1 */
.hero-section__title-text--main,
.hero-section__title-text--sub {
	font-weight: 700;
	font-size: 2rem;
	line-height: 3rem;
	opacity: 0;
	animation: start-page 0.5s ease 0.5s forwards;
}

.hero-section__title-text--sub {
	color: #ea1d5d;
	font-size: 1.8rem;
	animation: start-page 1s ease 1.5s forwards;
}

/* styles for hero-section paragraph */
.hero-section__text {
	font-size: 14px;
	line-height: 1.5rem;
	opacity: 0;
	padding: 1.2rem 0;
	text-align: center;
	animation: start-page 1s ease 2s forwards;
}

/* hero section button style */
.contact-btn {
	margin: 0 auto;
	max-width: 12rem;
	width: 100%;
	opacity: 0;
	animation: start-page 1s ease 2.5s forwards;
}
.contact-btn-link {
	background: #ea1d5d;
	background-image: linear-gradient(to bottom, #ea1d5d, #b82c64);
	border-radius: 12px;
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 1.5rem 0;
	text-align: center;
}

.contact-btn-link:hover {
	cursor: pointer;
	background-image: linear-gradient(to bottom, #b82c64, #ea1d5d);
}

/* STYLES FOR ABOUT ME SECTION */
.about-section {
	text-align: center;
}

.about-section__container {
	opacity: 0;
}
.about-section__container.desktop {
	display: none;
}
/* style for about image */
.about-image {
	margin: auto;
	max-width: 24rem;
	width: 100%;
	opacity: 0;
}

.about-image__image {
	width: 100%;
}

/* styles for about me section description */
.about-section__title {
	padding: 2rem 0 0;
}

.about-section__text-text--sub {
	font-size: 2rem;
	font-weight: bold;
	line-height: 5rem;
}

.about-section__text__paragraph {
	color: #ea1d5d;
	font-size: 1.5rem;
	font-weight: bold;
}

.about-section__text {
	line-height: 1.8rem;
	margin: 0 auto;
	max-width: 25rem;
	padding: 2rem 0 0;
	width: 100%;
	transition: 1s;
}

.about-section__text.animate {
	opacity: 0;
}

.about-contact-btn {
	margin: 0 auto;
	max-width: 10rem;
	padding: 2rem 0;
}

.about-contact-btn .contact-btn-link {
	font-size: 1rem;
}

/* styles for services rendered */
.service__content {
	background-color: rgb(240, 239, 239);
	border-radius: 1rem;
	box-shadow: 10px 10px 10px 0px rgba(83, 6, 6, 0.24);
	-webkit-box-shadow: 10px 10px 10px 0px rgba(83, 6, 6, 0.24);
	-moz-box-shadow: 10px 10px 10px 0px rgba(83, 6, 6, 0.24);
	margin: 2rem auto;
	max-width: 25rem;
	padding: 2rem 1rem;
	text-align: center;
	transition: 0.5s;
	opacity: 0;
}

.service__content:hover,
.about-section__text:hover {
	transform: scale(110%);
}

.service-content__image-box {
	width: 100%;
}

.service-content__img {
	max-width: 12rem;
	width: 100%;
}

.service-content__title {
	padding: 1.5rem 0;
	color: #ea1d5d;
}

.service-content__text {
	line-height: 1.5rem;
}

/* STYLES FOR PROJECT SECTION */
.project-section {
	opacity: 0;
}

.project-section__content {
	background: #edf7fa;
	height: 15rem;
}
.project-section__title {
	padding: 2rem 0;
	opacity: 0;
	animation-delay: 1s;
}

.project-section__nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 2rem 2rem;
	opacity: 0;
	animation-delay: 1.5s;
}

.project-section__nav__btn {
	padding: 1rem 0;
}

/* style for more works button */
.project-section__btn-link {
	border: 3px solid #ea1d5d;
	border-radius: 5px;
	color: #ea1d5d;
	font-size: 11px;
	font-weight: bold;
	padding: 1rem 1.5rem;
}

.project-section__btn-link:hover {
	background: #ea1d5d;
	background-image: linear-gradient(to bottom, #ea1d5d, #b82c64);
	color: #fff;
}

/* style for view on github button */
.project-section__btn-link__sub {
	align-items: center;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;
	box-shadow: 0px 6px 0px -4px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0px 6px 0px -4px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 6px 0px -4px rgba(0, 0, 0, 0.16);
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem;
	max-width: 8.5rem;
}

.project-section__btn-link__sub img {
	width: 2rem;
}

/* STYLES FOR FLIP CARD COMPONENT */
.project-section__sample {
	opacity: 0;
	animation-delay: 2s;
}

.flip-card {
	/* border: 1px solid red; */
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 3rem 0;
	perspective: 1000px;
	position: relative;
	transform-style: preserve-3d;
	opacity: 0;
}

.flip-card-inner {
	min-width: 20rem;
	max-width: 25rem;
	min-height: 37rem;
	position: relative;
	top: 0;
	transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	transform-style: preserve-3d;
	width: 100%;
}

.side {
	backface-visibility: hidden;
	border-radius: 10px;
	color: #fff;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	transform-style: preserve-3d;
	width: 100%;
}

.flip-card__content {
	transform: translatez(100px) scale(0.9);
}

.flip-card-front {
	background-color: #323;
	z-index: 2;
}

.flip-card-front .flip-card__content {
	margin-top: -10px;
}

.flip-card-back .flip-card__content {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	border-radius: 10px;
	padding: 2rem 1rem;
	width: 100%;
}
