@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
/* universal selector style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GENERAL STYLES */
html {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	list-style: none;
}

.hidden {
	display: none;
	pointer-events: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
}

h2 {
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
	text-align: center;
}

.gap3 {
	padding: 0 0 3rem;
	text-align: center;
}

.StopScroll {
	height: 100%;
	overflow: hidden;
}

#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	pointer-events: none;
	display: none;
}

#backdrop.visible {
	display: block;
	pointer-events: all;
}

.Modal {
	position: absolute;
	z-index: 10;
	background: rgb(0 0 0 / 90%);
	width: 100%;
	top: 0;
	right: 0;
	padding: 2rem 1rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
	border-radius: 10px 0 0 10px;
	overflow-x: hidden;
}

.Modal.invisible.visible {
	display: block;
	animation: menu-slide-in 0.8s ease-out forwards;
}

.Modal.invisible {
	display: block;
	animation: menu-slide-out 0.8s ease-out forwards;
}

.ModalList {
	color: white;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	list-style: none;
	padding: 3.5rem 0;
	row-gap: 3rem;
}

@keyframes menu-slide-in {
	from {
		opacity: 0;
		display: block;
		height: auto;
		width: 0;
	}
	to {
		opacity: 100%;
		height: auto;
		width: 100%;
	}
}

@keyframes menu-slide-out {
	from {
		opacity: 100%;
		height: auto;
		width: 100%;
	}
	to {
		opacity: 0;
		height: auto;
		width: 0;
		z-index: -1;
	}
}

@keyframes start-page {
	from {
		opacity: 0.7;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.start-page {
	animation: start-page 1s ease forwards;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.opacity {
	animation: opacity 1s ease 1s forwards;
}

@keyframes project-animate {
	from {
		opacity: 0.5;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.project-animate {
	animation: project-animate 2s ease forwards;
}

@keyframes left-in {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes right-in {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.left-in {
	animation: left-in 1s ease forwards;
}

.right-in {
	animation: right-in 1s ease forwards;
}

.menu-opt {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-opt .img-logo {
	display: flex;
}

.menu-pic {
	width: 100%;
	max-width: 14rem;
}

.menu-pic img {
	width: 100%;
}

.scale {
	animation: scale 1s ease 0s forwards !important ;
}

@keyframes scale {
	from {
		transform: scale(100%);
		opacity: 1;
	}
	to {
		transform: scale(110%);
		opacity: 1;
	}
}

/* STYLES FOR HOME PAGE BODY */
#body-content--home {
	color: #21243d;
	font-family: 'Montserrat Alternates', sans-serif;
	margin: auto;
	max-width: 1440px;
	scroll-behavior: smooth;
	width: 100%;
}

/* STYLES FOR HEADER */
#header {
	/* border: 1px solid red; */
	display: flex;
	background-color: #21243d;
	justify-content: space-between;
	padding: 1rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
	opacity: 0;
	animation: opacity 1s ease-in 1s forwards;
}

