@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
/* universal selector style */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* GENERAL STYLES */
html {
	margin: 0;
	padding: 0;
}

ul {
	display: flex;
	list-style: none;
}

.hidden {
	display: none;
	pointer-events: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
}

h2 {
	background: #121fcf;
	background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
	text-align: center;
}

.gap3 {
	padding: 0 0 3rem;
	text-align: center;
}

.StopScroll {
	height: 100%;
	overflow: hidden;
}

