.main-section--project-content {
	margin: 0 0 2rem;
}

.project-content {
	position: relative;
	padding: 0 2rem;
	overflow-y: hidden;
	border-radius: 15px;
	max-width: 65rem;
	margin: auto;
	transition: 0.5s;
}


.project-content:hover {
	transform: scale(105%);
}

.project-blur {
	width: 100%;
	height: 37rem;
	top: 2rem;
	left: 0;
	filter: blur(5px);
	position: absolute;
	border: 2px solid red;
	border-radius: 15px;
	z-index: -1;
}

.project-blur:hover {
	filter: blur(0);
	z-index: 10;
	border: 2px solid yellow;
}

.project-tile {
	min-height: 37rem;
	max-width: 50rem;
	margin: 0 auto;
	color: white;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 15px;
	transition: 1s;
	position: relative;
	top: 0;
	left: 0;
}

